[submodule ".config/mutt"]
	path = .config/mutt
	url = git@github.com:tjex/muttrc.git
[submodule ".local/src/go_scripts"]
	path = .local/go_scripts
	url = git@github.com:tjex/go_scripts.git
[submodule ".local/share/navi"]
	path = .local/share/navi
	url = git@github.com:tjex/cheats.git
