[submodule ".local/share/abook"]
	path = .local/share/abook
	url = git@github.com:tjex/abookrc.git
[submodule "/Users/tjex/.local/share/bkmr"]
	path = /Users/tjex/.local/share/bkmr
	url = git@github.com:tjex/my-bkmr-db.git
[submodule ".config/aerc"]
	path = .config/aerc
	url = git@github.com:tjex/aerc-conf.git
[submodule "/Users/tjex/.config/asciinema"]
	path = /Users/tjex/.config/asciinema
	url = git@git.sr.ht:~tjex/asciinema-conf
[submodule "/Users/tjex/.config/aerc"]
	path = /Users/tjex/.config/aerc
	url = git@git.sr.ht:~tjex/aerc-conf
[submodule "/Users/tjex/.config/goimap"]
	path = /Users/tjex/.config/goimap
	url = git@git.sr.ht:~tjex/goimap-conf
[submodule "/Users/tjex/.config/mbsync"]
	path = /Users/tjex/.config/mbsync
	url = git@git.sr.ht:~tjex/mbsync-conf
[submodule "/Users/tjex/.config/msmtp"]
	path = /Users/tjex/.config/msmtp
	url = git@git.sr.ht:~tjex/msmtp-conf
