[submodule ".local/share/abook"]
	path = .local/share/abook
	url = git@github.com:tjex/abookrc.git
[submodule ".config/mutt"]
	path = .config/mutt
	url = git@github.com:tjex/muttrc.git
[submodule ".local/share/navi"]
	path = .local/share/navi
	url = git@github.com:tjex/cheats.git
