/* Reflex colour theme, Tillman Jex (https://tjex.net) */
/* Extended from Dracula theme */
:root {
  --bg: #1a1c23;
  --fg: #f8f8f2;
  --currentline: #44475a;
  --comment: #737373;
  --cyan: #8be9fd;
  --green: #4e9a6f;
  --orange: #bc9f76;
  --pink: #ff79c6;
  --purple: #7f718e;
  --red: #bf8585;
  --yellow: #cca166;
  --border-colour: #647f9d;
  /* Tridactyl variable overrides */
  --tridactyl-fg: var(--fg);
  --tridactyl-bg: var(--bg);
  --tridactyl-comment: var(--comment);
  --tridactyl-url-fg: var(--blue);
  --tridactyl-url-bg: var(--bg);
  --tridactyl-highlight-box-bg: var(--currentline);
  --tridactyl-highlight-box-fg: var(--fg);
  --tridactyl-of-fg: var(--fg);
  --tridactyl-of-bg: var(--current-line);
  --tridactyl-cmdl-fg: var(--fg);
  --tridactyl-cmdl-font-family: monospace;
  --tridactyl-cmplt-font-family: monospace;
  --tridactyl-hintspan-font-family: monospace;
  /* Hint character tags */
  --tridactyl-hintspan-fg: var(--bg) !important;
  --tridactyl-hintspan-bg: var(--yellow) !important;
  /* Element Highlights */
  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;
}

#cmdline_iframe {
  position: fixed !important;
  bottom: unset;
  top: 55% !important;
  left: 33% !important;
  z-index: 2147483647 !important;
  width: 35% !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
}

#command-line-holder {
  order: 1;
  border: 2px solid #647f9d;
  border-radius: 6px;
  font-size: 1.2rem; /* font size of pre-prompt symbol */
}

#tridactyl-colon::before {
  content: ">";
  padding-left: 8px;
}

#tridactyl-input {
  padding: 1rem;
  color: var(--tridactyl-fg);
  width: 90%;
  font-size: 1.2rem;
  line-height: 1.2;
  padding-left: unset;
  padding: 1rem;
}

/* COMPLETIONS */
#completions table {
  font-size: 1rem;
  font-weight: 200;
  border-spacing: 0;
  table-layout: fixed;
  padding: 1rem;
}

#completions > div {
  max-height: calc(20 * var(--option-height));
  min-height: calc(10 * var(--option-height));
  border-left: 2px solid #647f9d;
  border-right: 2px solid #647f9d;
  /* for some reason, border-bottom renders thinner than the others */
  border-bottom: 3px solid #647f9d;
  border-radius: 6px;
}

#completions {
  --option-height: 1.8em;
  color: var(--tridactyl-comment);
  display: inline-block;
  font-size: unset;
  font-weight: 200;
  overflow: hidden;
  width: 100%;
  border-top: unset;
  order: 2;
}

#completions .HistoryCompletionSource {
  max-height: unset;
  min-height: unset;
}

#completions .HistoryCompletionSource table {
  width: 100%;
  font-size: 9pt;
  border-spacing: 0;
  table-layout: fixed;
}

#completions .BmarkCompletionSource {
  max-height: unset;
  min-height: unset;
}

#completions table tr td.prefix,
#completions table tr td.privatewindow,
#completions table tr td.container,
#completions table tr td.icon {
  display: none;
}

#completions .BufferCompletionSource table {
  width: unset;
  font-size: unset;
  border-spacing: unset;
  table-layout: unset;
}

#completions table tr .title {
  width: 50%;
}

#completions table tr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#completions .sectionHeader {
  display: none; /* don't show completion mode title (opinionated) */
  background: unset;
  font-weight: bold;
  border-bottom: unset;
  padding-left: 1rem !important;
  padding-top: 1rem !important;
  padding-left: unset;
}

#completions .sectionHeader:after {
  content: "...";
}

#completions .focused {
  color: var(--tridactyl-fg);
  background: var(--tridactyl-bg);
}

#completions .focused .url {
  color: var(--tridactyl-fg);
  background: var(--tridactyl-bg);
}

.TridactylStatusIndicator {
  position: fixed !important;
  bottom: 0 !important;
  background: var(--tridactyl-bg) !important;
  border: unset !important;
  border: 1px var(--border-colour) solid !important;
  font-size: 12pt !important;
  /*font-weight: 200 !important;*/
  padding: 0.8ex !important;
}

/* @import "dropdown.scss"; */
